@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    height: 100vh; 
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.headers-container{
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    gap: 50px;
}

.header {
    display: flex;
    padding: 12px 0;
    align-items: center;

}

.logo {
    font-size: 24px; 
    color: #F9FAF8;
    flex: 1;
}

.sub-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.welcome{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.welcome-message {
    color:#F9FAF8;
    font-size: 48px; 
    font-weight: 800;
}

.description{
    font-size: 18px;
    color: #E5E7EB;
}
.sub-header-image img {
    max-width: 400px;
}

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information{
    font-size: 36px; 
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-top: 32px;
}

.pets-container {
    display: flex;
    justify-content: space-evenly;
    margin: 32px 0 120px 0;
    width: 1000px;
    gap: 48px;
}

.pets { 
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: space-between;
    gap: 8px;
}


.square img {
    max-width: 180px;
    max-height: 180px;
    border: 4px solid #3882F6; 
    border-radius: 14px;
}

.text {
    color: #1F2937;
    text-align: center;
    font-size: 18px;
    padding: 0 16px;
}

.third-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quotation-block {
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 70px;
    padding: 20px 0;
}

.quote {
    font-size: 36px; 
    font-style: italic; 
    font-weight: 200;
    color: #1F2937;
    text-align: left;
    padding-left: 30px;
}

.quote-source {
    align-self: flex-end;
    font-weight: 800;
    font-size: 24px;
    padding-right: 80px;
}

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.signup-block {
    margin: 100px;
    background-color: #3882F6;
    display: flex;
    width: 1000px;
    justify-content: space-evenly;
    padding: 50px 0;
    border-radius: 14px;
}

.its-time {
    font-size: 24px;
    color: #F9FAF8
}