@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    height: 100vh; 
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 4px 20px;
    border-radius: 8px;
    font-weight: 600;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.headers-container{
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    gap: 50px;
}

.header {
    display: flex;
    padding: 12px 0;
    align-items: center;

}

.logo {
    font-size: 24px; 
    color: #F9FAF8;
    flex: 1;
}

.sub-header{
    display: flex;
    justify-content: space-between;
}

.welcome{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.welcome-message {
    color:#F9FAF8;
    font-size: 48px; 
    font-weight: 800;
}

.description{
    font-size: 18px;
    color: #E5E7EB;
}
.sub-header-image img {
    max-width: 400px;
}